.movie-view{
    text-align: center;
    background-color: white;
}

.favorite-button:not(:disabled):not(:disabled):focus {
    background-color: rgb(255, 0, 0) !important;
 } 
 


 .movie-poster{
    background-color: rgba(38, 29, 29, 0.737);
    background-image: url("https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8N3x8fGVufDB8fHx8&w=1000&q=80");
 }


.movie-view{
    border-radius: 10%;
    box-shadow: 10px 10px 10px 10px rgba(42, 34, 34, 0.668);
}

.text{
    border-bottom: 1px solid rgb(114, 111, 111);
    box-shadow: 20px 15px 20px -15px #111 !important;   
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 18px;
    
}

.genre{
    width: 44%;
    text-align: left;
}